footer {
    background-color: $color-fondo;
    font-family: $tipo-titulo;
    margin-bottom: auto;
    .espacio{
        margin-top: 2rem; 
        margin-bottom: 2rem; 
        padding-top: 1rem; 
        padding-bottom: 1rem; 

            h2{
                font-size: 2.5rem;
                }
                ul{
                    li{
                        a{
                        @extend .cardTitulo;
                        text-decoration: none;
                        color: black;
                        list-style: none;
                            
                        }
                        }
            }
            div{
                div{ 
                    .separador{
                        margin-left: 1rem; 
                        margin-right: 1rem;
                    }
                }
            }
        }
}