div {
    .textoTitulo {
        font-size: $texto-titulo;
        font-family: $tipo-titulo;
    }
                            p {
                            font-size: $tamano-texto;
                            font-family: $tipo-texto;
                            }
                            p {
                                font-size: $tamano-texto;
                                font-family: $tipo-texto;
                                }
                        }
    div {
                div {
                    div {
                        .texto  {
                            font-size: $tamano-texto;
                            font-family: $tipo-texto;
                            }
        
                            .texto  {
                            font-size: $tamano-texto;
                            font-family: $tipo-texto;
                            }
                            .texto  {
                                font-size: $tamano-texto;
                                font-family: $tipo-texto;
                                }
                            .texto  {
                                    font-size: $tamano-texto;
                                    font-family: $tipo-texto;
                                }
                        }
                    }
                }
            
                div {
                    .textoTitulo {
                        font-family: $tipo-titulo;
                        font-size: $texto-titulo;
                    }
                        ul {
                        list-style: none;
                        padding-left: 0;
                            li {
                                strong {
                                        @extend .texto
                                        }
                                }
                            }
                                                    }
                div{
                    .tamaMapa{
                        width: 100;
                    }
                }
