main{
        .cards{
        @include sombraCard (rgba(0, 0, 0, 0.1), 10px);
        padding: .625rem;
        margin: .625rem;
    .qyaCard{
        background-color: $color-fondo;
        height: 100%;
        width: 100%;
        div{
            div{
                .cardTitulo{
                    font-weight: bold;
                    font-size: 1.5625rem;
                    font-family:$tipo-texto
                }
            }
        }

    }
    }
}
.color {
    background-color: $color-fondo;
    height: 100%;
    width: 100%;
}
