
.checkbox {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    height: 9.375rem; 
    }
.check {
    
    margin-left: 3rem;
    pointer-events: none;
    &:checked {
    accent-color: $color-fondo;
    }   
        } 
    label {
        font-weight: $tamano-texto;
        color: #333;
        cursor: pointer;
    }

